# Handling junk files -------------------------------------------------------

# files added by usethis::git_vaccinate
.httr-oauth
.Rproj.user
.Rhistory
.Rdata
.DS_Store

# MS Office temp files
**/~$*.doc*
**/*.doc*~
**/~$*.xls*
**/*.xls*~

# Other junk files
desktop.ini

# Ignore all the junk created by LaTeX
*.aux
*.out
*.bbl
*.ent
*.log

# Ignore quarto stuff
/.quarto/
_freeze
**/*.quarto_ipynb

# Handling quarto output ----------------------------------------------------

# By default, we do not put quarto output - everything in the _docs folder - 
# under version control.
_docs/**

# You may want to adjust that behavior if you want to serve up the output as a 
# website from the remote repository, e.g. with GitHub pages or Netlify. In that
# case you can uncomment out the two lines below to put html under version control
# or comment out the line above to put everything in the _docs folder under
# version control.
#!_docs/**/
#!_docs/**/*.html

# Handling data -------------------------------------------------------------

# We always ignore anything in the constructed data directory - that should 
# NEVER go under version control. 
data/data_constructed/*

# If you are using the data_version.yml to version external data, then
# each collaborator will have a data_version_local.yml that we don't want
# to be added to version control.
data/data_raw/data_version_local.yml

# If you are downloading large data from an external source or there are 
# privacy issues, you may want to put restrictions on what gets versioned from
# the raw data directory. The entries will ignore everything in the raw data 
# directory and any subdirectories except for pdf and txt documents (for 
# codebooks). You can adjust as needed for your project. If you want to put
# raw data under version control, then comment out the lines below. 
data/data_raw/**
!data/data_raw/**/*.{pdf,txt}
